.Tournament {
    display: inline-flex;
    width: 70%;
}

.Tournament-title h3{
    color: #3c3b3d;
    font-size: 1.5em;
     margin-bottom: 1.5em;
}

.newRound {
  padding: 5px 12px;
  background-color: #fafafa;
  color: #262626;
  font-size: 0.9em;
  border-radius: 4px;
  font-weight: 500;
  cursor: pointer;
  min-width: 100px;
  margin-bottom: 1em;
}
.newRound:focus {
  outline: none;
}
.newRound.is-primary {
  color: #ffffff;
  background-color: #6bb1d6;
  border-color: #6bb1d6;
}
.newRound.is-fullwidth {
  width: 50%;
}