.App {
  text-align: center;
}

.App__header{
  background-color: #f0f0f0
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

.btn-primary{
  background-color: #6bb1d6;
  border-color: #6bb1d6;
}

.text-color{
  color: #6bb1d6;
}

li{
  text-decoration: none;
}


